@model interview1.Models.represent

@section TitleSection
{
    Books Detail | FG
}
@section StyleSection
{
    @Styles.Render("~/Content/booklistcss")
}

@section MainSection
{
    <div id="books">
        <h2>Books Detail</h2>
       
        <div class="container">
            <div class="row">
                <div class="section col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    @foreach (var r in Model.books)
                    {
                        if (r != null)
                        {
                            <div class="listsection col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                <p class="bookname"><span class="bold">Name : </span>@r.Name</p>
                                <p class="bookauthor"><span class="bold">Author : </span> @r.Author</p>
                                <p class="booklanguage"><span class="bold">Language : </span> @r.Language</p>
                                <p class="booknumber"><span class="bold">Number : </span> @r.Number</p>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </div>
}