@model interview1.Models.represent

@section TitleSection
{
    Books Search | FG
}
@section StyleSection
{
    @Styles.Render("~/Content/booklistcss")
}

@section MainSection
{
    <div id="books">
        <h2>Books Search</h2>
        <div class="container">
            <div class="row">
                <div class="section col-lg-12 col-md-12 col-xs-12 col-sm-12">
                   @if(Model != null )
                   { 
                        foreach (var r in Model.books)
                        {
                            if (r != null)
                            {
                                <div class="listsection col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                    <a href="/books/detail/@r.BookId" class="bookname">@r.Name</a>
                                    <p class="bookauthor"><span class="bold">Author :</span> @r.Author</p>
                                    <p class="booklanguage"><span class="bold">Language :</span> @r.Language</p>
                                </div>

                            }
                        }
                   }
                   else
                   {
                    <div class="form-field">
                        @Html.Label("Search*", new { @class = "content-small label-field" })
                        <div class="form_textbox " tabindex="1">
                            @Html.TextBox("search", "", new { spellcheck = "false", @class = "form-control content-medium", maxlength = 60 })
                        </div>
                        <label id="validation-name" class="contactus-label content-small ">*Please enter search keyword</label>

                    </div>
                       <div class="button"><span class="search">Seacrh</span></div>
                   }
                </div>
                <div class="implemented hide">
                    Search option backend yet not implemented
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">
    $(".search").click(function () {
        $(".section ").showWaitingPopUp();
        var searchKeyword = $("#search").val();
        if (searchKeyword != "" || searchKeyword != null)
        {
            //$.ajax({
            //    type: "POST",
            //    url: "/search/searchKeyword",
            //    success: function (result) {
            $(".section ").removeWaitingPopUp();
            $(".implemented").removeClass("hide");
            //    },
            //    Error: function () {
            //        $(".section ").removeWaitingPopUp();
            //    }
            //});

        }
        else {
            $(".section ").removeWaitingPopUp();

        }
    });
</script>